<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.css" integrity="sha256-S4n5rcKkPwT9YZGXPue8OorJ7GCPxBA5o/Z0ALWXyHs=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css" integrity="sha256-/PVkO2+mUlKqE6wgKVXU5Wh4mx3vncHAxLEdpXrziGo=" crossorigin="anonymous" />
        <link rel="stylesheet" href="./a/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.js" integrity="sha256-x9fzgXT3ttK2cZF12FIafkDJzEqqLnaWcchT+Y/plJ4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js" integrity="sha256-rNQvJc3/MuwBWFwVTqr0qJ91nWA1pR7PDLk31hgGqP8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.2.4/custom-elements.min.js" integrity="sha256-ZOyh/4lbCvjd2yxy7DMPoKo3KnmzNFm4N6TKh7nd7Ec=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/shadydom/1.1.0/shadydom.min.js" integrity="sha256-45wBTqEbiRPLFnGDzmf8igiyXYFAF7XVjJldqj/sA/g=" crossorigin="anonymous"></script>
        <script src="./a/x-image.js"></script>
        <script src="./a/script.js"></script>
        <style>
            body > div:nth-child(2) { margin: 1em; }
        </style>
    </head>
    <body data-page="{{page}}">
        <div class="ui main menu">
            <div class="header item">{{user.Username}}@{{user.Provider}}</div>
            <div class="right item"><span>Powered by</span>&nbsp;<a href="https://github.com/nektro/dacite" target="_blank">Dacite</a>&nbsp;<code>{{version}}</code></div>
        </div>
        <div>
            <h1 class="ui header"><i class="images icon"></i> Dacite</h1>
            <div class="ui secondary pointing menu">
                <a class="item{{#equal page "home"}} active{{/equal}}" href="./portal">Home</a>
                <a class="item{{#equal page "upload"}} active{{/equal}}" href="./upload">Upload</a>
                {{!-- <a class="item" href="./b/sxcu" target="_blank"><i class="external link icon"></i> ShareX scxu</a> --}}
                {{#if user.IsAdmin}}
                <a class="item{{#equal page "users"}} active{{/equal}}" href="./users"><i class="gavel icon"></i> All Users</a>
                {{/if}}
            </div>
